@import "reset.css";
@font-face {
  font-family: 'Keleti';
  src: url(keleti.ttf) format(truetype);
}

:root {
  --hand-height: 600px;
  --witch-body-width: 90vw;
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Keleti';
  overflow-x: hidden;
}

#starter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 100;
  transition: opacity 0.6s ease-in;
  transition-delay: 0.3s;
}

#logo {
  width: 400px;
  text-align: center;
}

h1 {
  position: relative;
  left: 165px;
  top: -70px;
}

#logo,
h1 {
  transition: opacity 0.6s ease-in;
  transition-delay: 0.3s;
  opacity: 0;
}

#angel {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hand1 {
  z-index: 101;
  height: var(--hand-height);
  position: absolute;
  transition: left 0.5s ease-out,
              top 0.5s ease-out,
              transform 0.2s ease-out;
  transition-property: left, top, transform;
  transition-duration: 0.5s, 0.5s, 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s, 0s, 0.2s;
}

#i--angel {
  position: fixed;
  width: 800px;
  z-index: 101;
}

#witch {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#witchbody {
  width: var(--witch-body-width);
  transform: rotate(180deg) translateX(20px);
  z-index: 1;
  margin-top: 150px;
}

.witchhead {
  width: calc(var(--witch-body-width) / 3.220339);
  transform: rotate(180deg);
  z-index: 400;
  height: 400px;
  position: relative;
  bottom: 450px;
}

#witchhead {
  width: calc(var(--witch-body-width) / 3.220339);
  position: absolute;
  z-index: 100;
}

#witchmouth {
  width: calc(var(--witch-body-width) / 7.21518988);
  z-index: 200;
  position: absolute;
  transform: translate(65%, 562%);
}
